.auth-login{

    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url('../../Assets/auth.svg');
    background-size: 100% 100%;

}
.auth-login .ant-row{
    width: 100%;
    justify-content: center !important;
}
.auth-login form{
    background-color: white;
    padding: 20px;
}

